on: push

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: 3.11
      - name: Install cfn-lint
        run: pip install cfn-lint==0.85.1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: 1.3.4
      - name: Setup tflint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33
      - name: Run terraform fmt
        run: terraform fmt -check -recursive ./terraform
      - name: Run tflint
        run: |
          pushd terraform
          tflint --recursive --disable-rule=terraform_required_version --disable-rule=terraform_required_providers
          popd
      - name: Run cfn-lint
        run: cfn-lint -i W3045,E3030 -- cloudformation/*.yml
