on: push

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.11
      - name: Install cfn-lint
        run: pip install cfn-lint==0.85.1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: 1.3.4
      - name: Setup tflint
        uses: terraform-linters/setup-tflint@acd1575d3c037258ce5b2dd01379dc49ce24c6b7
      - name: Run terraform fmt
        run: terraform fmt -check -recursive ./terraform
      - name: Run tflint
        run: |
          pushd terraform
          tflint --recursive --disable-rule=terraform_required_version --disable-rule=terraform_required_providers
          popd
      - name: Run cfn-lint
        run: cfn-lint -i W3045,E3030 -- cloudformation/*.yml
